<!-- COUNT UP SECTION -->
<% if @event.event_type == "Race" && @event.datetime > Time.now %>
  <section class="clearfix countUpSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter"><%= @event.time_until[:days] %></div>
            <div class="counterInfo bg-color-1">Days</div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter"><%= @event.time_until[:hours] %></div>
            <div class="counterInfo bg-color-2">Hours</div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter"><%= @event.time_until[:minutes] %></div>
            <div class="counterInfo bg-color-3">Minutes</div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter"><%= @event.time_until[:seconds] %></div>
            <div class="counterInfo bg-color-4">Seconds</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header text-center">
            <h2>Until Race Day!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- LISTINGS DETAILS TITLE SECTION -->
<section class="clearfix paddingAdjustBottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="listingTitleArea">
          <h2><%= @event.name.split("- ")[0] %></h2>
          <p><%= @event.datetime.strftime("%A, %B %e, %Y at %l:%M %P") %></p>
          <p><span class="placeName"><%= @event.location.name %></span>
          <%= @event.location.street_address %>, <%= @event.location.city %>, <%= @event.location.state %> <%= @event.location.zip %></p>
          <div class="listingReview">
            <% if @event.reports != [] %>
              <ul class="list-inline rating">
                <% @event.overall_rating.to_i.times do %>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <% end %>
                <% (5 - @event.overall_rating.to_i).times do %>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                <% end %>
              </ul>
              <span>( <%= @reports.count %> Reports )</span>
            <% end %>

            <% if current_user && current_user.report_for(@event) %>
              <a href="/reports/<%= current_user.report_for(@event).id %>/edit" class="btn btn-primary">Edit Report</a>
            <% elsif current_user && current_user.registration_for(@event) && @event.datetime < Time.now %>
              <a href="/reports/new?reg_id=<%= @event.registrations.find_by(user_id: current_user.id).id %>" class="btn btn-primary">Write a Report</a>
            
            <% elsif current_user && @event.datetime > Time.now %>
              <button type="button" class="btn btn-primary" class="button" data-toggle="modal" data-target="#rsvpModal"> <span>
              <% if current_user.registration_for(@event) %>Edit<% end %> 
              RSVP</span> + </button>   
                            
            <% elsif @event.datetime > Time.now %>
              <button type="button" class="btn btn-primary" class="button" data-toggle="modal" data-target="#loginModal"> + <span>Log In to RSVP</span> </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- LISTINGS DETAILS IMAGE SECTION -->
<section class="clearfix paddingAdjustTopBottom">
  <ul class="list-inline listingImage">
    <li><img src="<%= @event.main_image %>" alt="Image Listing" class="img-responsive"></li>
    <li><img src="<%= @event.image2 %>" alt="Image Listing" class="img-responsive"></li>
    <li><img src="<%= @event.image3 %>" alt="Image Listing" class="img-responsive"></li>
    <li><img src="<%= @event.image4 %>" alt="Image Listing" class="img-responsive"></li>
  </ul>
</section>


<div id="map-canvas"></div>

<!-- LISTINGS DETAILS INFO SECTION -->
<section class="clearfix paddingAdjustTop">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div class="listDetailsInfo">
          <div class="detailsInfoBox">
            <h3></h3>
            <h3><%= @event.sport ? @event.distance + " " + @event.sport.name : "About This Event" %></h3>    
            <p><%= @event.description %></p> 
            <% if @event.reports != [] %>
              <div class="detailsInfoBox">
                <h3>Race Reports</h3>
                <% @reports.each do |report| %>
                  <div class="media media-comment">
                    <div class="media-left">
                    <img src="<%= report.user.avatar %>" class="media-object img-circle" alt="Image User">
                    </div>
                    <div class="media-body">
                      <h3 class="media-heading"><a href="/users/<%= report.user.id %>"><%= report.user.first_name %> <%= report.user.last_name %></a></h3>
                      <ul class="list-inline rating">
                        <% report.overall_rating.times do %>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <% end %>
                        <% (5 - report.overall_rating).times do %>
                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <% end %>
                        <%= report.overall_rating %> Star<% if report.overall_rating > 1 %>s<% end %>
                      </ul>
                      <h3 class="media-heading"><a href="/reports/<%= report.id %>"><%= report.title %></a></h3>
                      <p><%= report.body %> </p>
                      <p><a href="/reports/<%= report.id %>">Read More...</a></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="listSidebar" id="app">
          <h3>Related Races</h3>
          <ul>
            <% @event.related_races.each do |race| %>
              <li><a href="/events/<%= race.id %>"><%= race.name %></a> </li> 
            <% end %>
          </ul>
          <p></p>
          <% if @event.related_rating > 0 %>
            <h5>Average of Related Races:</h5>
            <ul class="list-inline rating rating-review">
              <% @event.related_rating.to_i.times do %>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <% end %>
              <% (5 - @event.related_rating.to_i).times do %>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
              <% end %>
            </ul>
            <span>( <%= @event.related_rating.to_i %> Stars )</span>
            <% end %>

        </div>
        <div class="listSidebar">
          <% if current_user %>         
            <% if @event.datetime > Time.now %>
              <button type="button" class="btn btn-primary" class="button" data-toggle="modal" data-target="#rsvpModal">&nbsp <span>RSVP</span> + &nbsp</button>
              <p></p>
              
              <h3>Who's Going?</h3>
            <% else %>
              <h3>Average Rating: <%= @event.overall_rating %> Stars</h3>
              <h3>Who Went?</h3>
            <% end %>
            <ul class="list-unstyled sidebarList">
              <% @registrants.each do |registrant| %>
                <li><a href="/users/<%= registrant.id %>"><%= registrant.first_name %> <%= registrant.last_name %></a>
                <% if registrant.registration_status(@event.id) != "Registered" %>(<%= registrant.registration_status(@event.id) %>)<% end %></li>
              <% end %>
            </ul>
          <% else %>
            <h3>RSVP</h3>
            <h4><%= @registrants.count %> Racebookers Going</h4>
            <h5>You in?</h5>
            <button type="button" class="btn btn-primary" class="button" data-toggle="modal" data-target="#loginModal">&nbsp <span>Login to RSVP!</span> &nbsp</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>





