<%= render "secondary_header" %>


<!-- LISTINGS SECTION -->
<section class="clearfix bg-dark dashboardOrders">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="dashboardPageTitle text-center">
          <h2>Race Reports</h2>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="table-responsive bgAdd"  data-pattern="priority-columns">
          <table id="ordersTable" class="table table-small-font table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th data-priority="">Race Report</th>
                <th data-priority="1">Rating</th>
                <th data-priority="2">Posted on</th>
                <th data-priority="3">Last Edited</th>
                <th data-priority="4">Status</th>
                <th data-priority="5">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @reports.each do |report| %>
                <tr>
                  <td><a href="/reports/<%= report.id %>"><%= report.title %></a><br><%= report.registration.event.name %></td>
                  <td>
                    <ul class="list-inline rating">
                      <% report.overall_rating.times do %>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <% end %>
                      <% (5 - report.overall_rating).times do %>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                      <% end %>
                    </ul>
                  </td>
                  <td>
                    <%= report.created_at.strftime("%-m/%e/%Y") %><br><%= report.created_at.strftime("%l:%M %P") %>
                  </td>
                  <td>
                    <%= report.updated_at.strftime("%-m/%e/%Y") %><br><%= report.updated_at.strftime("%l:%M %P") %>
                  </td>
                  <td><span class="label label-success">Posted</span></td>
                  <td>                    
                    <div class="btn-group">
                      <a href="/reports/<%= report.id %>" type="button" class="btn btn-primary">View</a>
                      <% if report.user_id == current_user.id %>
                      <a href="/reports/<%= report.id %>/edit" type="button" class="btn btn-primary">Edit</a>
                      <a href="" type="button" class="btn btn-primary">Delete</a>
                      <% end %>
                    </div>
                  </td>                  
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>